.skills__round img {
    width: 44px;
    height: 44px;
    color:rgb(210, 128, 21)
}

.skills__all {
    /* margin-top: 140px; */
    padding: 15px;
    /* background-color: rgb(139, 21, 117); */
    display: grid;
    grid-template: 1fr / 1fr  84px minmax(auto, 1100px) 84px 1fr  ;
    /* align-items: center; */

 
}
.skills__card{
    position: relative;
    grid-column: 4;
    left: -280px;
    padding-top: 120%;
    transform: rotate(12deg);

}
.skills__card img{
    max-height: 400px;
    /* background-color:var(--pink-color); */
    transform: translate(120%, 0);
    opacity: 0;
    transition: all .8s ease 0s;
}
.skills__card._active img{
    
    transform: translate(0px, 0px);
    opacity: 1;

    transition: all .8s ease 2.4s;
}
/*  */

.skills__phone{
    /* position: relative; */
    grid-column: 2;
    /* padding-top: 180%; */
    transform: rotate(-12deg);
    z-index: 24;

}
.skills__phone__magic {
    /* position: absolute; */

    z-index: 4;
}
.skills__phone__mag {
    /* transform: translate(-120%, 0); */
    opacity: 0;
    transition: all .8s ease 0s;
}

.skills__phone__q {
    display: block;
    margin: 320px 0 0 100px ;

    /* display: grid; */
    /* grid-template: repeat(3, minmax(auto, 300px))  / repeat(2, minmax(auto, 300px)) ; */

}
.skills__phone__mag._active {
    /* transform: translate(0px, 0px); */
    opacity: 1;
    transition: all .8s ease 2.4s;
}
.skills__phone__q p{
    padding-bottom: 33px ;
    font-size: 33px;
    width: 230px;
    margin-left: -60px;
    color: azure;
    text-shadow: 0 0.8rem 0.9rem rgb(0 0 0 / 50%);
    /* display: grid; */
    /* grid-template: repeat(3, minmax(auto, 300px))  / repeat(2, minmax(auto, 300px)) ; */

}
.skills__phone__q button{
    margin: 12px 0 0 -44px;
    width: 200px;
    height: 69px;
    /* display: flex ; */
    /* justify-content: center;
    justify-items: center ; */
    /* margin-left: auto; */
    /* padding: .75rem 2rem; */
    outline: none;
    border: none;
    background-color:var(--blue-color);
    color:aliceblue;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: .3s;
    font-size: 32px;
}
.skills__phone__q button:hover{
    color: var(--yellow-color);
    box-shadow: 0 20px 26px rgba(0,0,0,.2)
}
.skills__phone img{
    position: absolute;
    top: 200px;
    max-height: 600px;
    /* background-color:var(--pink-color); */
    transform: translate(-120%, 0);
    opacity: 0;
    transition: all .8s ease 0s;
    z-index: -1;
}
.skills__phone._active img{
    
    transform: translate(0px, 0px);
    opacity: 1;

    transition: all .8s ease 1.4s;
}
.skils__title{
    text-align: center;
    font-size: 68px;
    margin: 24px auto 33px auto;
    color: azure;
    text-shadow: 0 .8rem .9rem rgba(0, 0, 0, .5);

}

.skills__content {
    grid-column: 3/4;
    }
.skills__content__card{
    display: grid;
    justify-content: center;
    grid-template: repeat(8, minmax(auto, 100px))  / minmax(auto, 613px) minmax(auto, 613px);    
    z-index: -1;

}
.skill_icon{
    grid-column: 4/5;
}
.l1 {
    grid-row: 1/2;
}
.r1 {
    grid-row: 2/3;
    grid-column: 2/3;
}
.l2 {
    grid-row: 3/4;
}
.r2 {
    grid-column: 2/3;
    grid-row: 4/5;
}
.l3 {
    grid-row: 5/6;
}
.r3 {
    grid-column: 2/3;
    grid-row: 6/7;
}
.l4 {
    grid-row: 7/8;
}
.r4 {
    grid-column: 2/3;
    grid-row: 8/9;
}
.skills__block {
    display: flex;
    align-items: center;
}

.skills__block-right {
    margin-left: -15%;
    justify-content: start;
    transform: translate(120%, 0);
    opacity: 0;
    transition: all .8s ease 0s;
}
.skills__block-left {
    margin-right: -15%;
    justify-content: end;
    transform: translate(-120%, 0);
    opacity: 0;
    transition: all .8s ease 0s;
}

.skills__content._active div:nth-child(1){
    
    transform: translate(0px, 0px);
    opacity: 1;

    transition: all .8s ease 0.2s;
}
.skills__content._active div:nth-child(2){
    transform: translate(0px, 0px);
    opacity: 1;

    transition: all .8s ease 0.4s;
}
.skills__content._active div:nth-child(3){
    transform: translate(0px, 0px);
    opacity: 1;

    transition: all .8s ease 0.6s;
}
.skills__content._active div:nth-child(4){
    transform: translate(0px, 0px);
    opacity: 1;

    transition: all .8s ease 0.8s;
}
.skills__content._active div:nth-child(5){
    transform: translate(0px, 0px);
    opacity: 1;

    transition: all .8s ease 1s;
}
.skills__content._active div:nth-child(6){
    transform: translate(0px, 0px);
    opacity: 1;

    transition: all .8s ease 1.2s;
}
.skills__content._active div:nth-child(7){
    transform: translate(0px, 0px);
    opacity: 1;

    transition: all .8s ease 1.4s;
}
.skills__content._active div:nth-child(8){
    transform: translate(0px, 0px);
    opacity: 1;

    transition: all .8s ease 1.8s;
}
.skills__subtitle {
    font-size: 54px;
    color: azure;
    text-shadow: 0 .8rem .9rem rgba(0, 0, 0, .5);
}
.skills__round {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 24px;
    width: 60px;
    height: 60px;
    background-color: var(--orange-color);
    border-radius: 100%;
}
.skills {
    background: var(--pink-color);
}

